@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
}
.content
{
	relative;
}
.content h2
{
	position: absolute;
	color: #fff;
	transform: translate(-50%, -50%);
	font-size: 8em;
}
.content h2:nth-child(1)
{
	color: transparent;
	-webkit-text-stroke: 2px #03a9f4;
}
.content h2:nth-child(2)
{
	color: #03a9f4;
	animation: animate 3s ease-in-out infinite;
}
@keyframes animate
{
	0%,100%
	{
		clip-path: polygon(2% 40%, 22% 43%, 40% 49%, 54% 60%, 71% 61%, 87% 52%, 100% 41%, 100% 100%, 0 100%);
	}
	50%
	{
		clip-path: polygon(1% 48%, 17% 56%, 32% 59%, 51% 56%, 65% 47%, 80% 38%, 100% 41%, 100% 100%, 0 100%);
	}
}


